@charset "utf-8";
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: white;
}

/* Style the header */
.header {
  background-color: white;
  padding: 30px;
  text-align: center;
}
.header h1 {
  font-size: 50px;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(34, 69, 163);
  box-shadow: 1px 1px 1px 1px #888888;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(51, 99, 233);
  color: rgb(255, 255, 255);
}
.column {
  float: left;
  width: 60%;
  padding: 10px;
  height: 30%; 
}
.vasen { 
    float: left;
    width: 20%;
  }

/* Right column */
.oikea {
  text-align: center;
  margin-top: 30px;
  float: right;
  width: 25%;
  overflow: hidden;
  padding-left: 20px;
 
}
.img {
  width: 90%;
  padding: 20px;
  margin-left: 20px;
}
.keski {
  width: 140%;
  background-color: lightgray;
  padding: 30px;
  margin-left: 40%;
  margin-top: 30px;
  border-style: dotted;
  border-color: rgb(136, 136, 136);
}
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column, .oikea {   
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
}